Repository secundant/ts-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

ci(docker): Add Dockerfile and docker-compose.yml
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

feat: Add shared navigation provider, create PageHead component for page metainfo
  packages/react-material-ui-kit/Layout/Header.tsx
  packages/react-nextjs/components/Layout/hooks/useLayoutNavigationState.ts
  packages/react-nextjs/components/common/Layout/Full.tsx
  packages/react-nextjs/components/common/Layout/NavOnly.tsx
  packages/react-nextjs/components/common/Layout/common/Header.tsx
  packages/react-nextjs/components/common/Layout/common/NavLinkItem.tsx
  packages/react-nextjs/components/common/Layout/common/Navigation.tsx
  packages/react-nextjs/components/common/NProgressPageLoading.tsx
  packages/react-nextjs/components/common/Page/Head.tsx
  packages/react-nextjs/contexts/Layout/Navigation.tsx
  packages/react-nextjs/pages/_document.tsx
  packages/react-nextjs/pages/index.tsx
  packages/react-nextjs/pages/other.tsx
  packages/react-shared/hooks/useRequiredContext.ts
Due: prettier --write, eslint --cache --fix

feat(ssr): Add example for server side initial media query detecting
  .eslintcache
  .pnp.js
  .yarn/cache/@types-css-mediaquery-npm-0.1.0-c53297c5c2-693700e7b0.zip
  .yarn/cache/@types-ramda-https-846153a68c-be5fe5a913.zip
  .yarn/cache/@types-ua-parser-js-npm-0.7.35-10d994b61c-688dbdc6cf.zip
  .yarn/cache/css-mediaquery-npm-0.1.2-39b61fbcad-571ab2efdb.zip
  .yarn/cache/ramda-npm-0.27.1-5818f2cb83-9aa4655dff.zip
  .yarn/cache/ua-parser-js-npm-0.7.23-b65ab49624-ce6ce4f53f.zip
  .yarn/install-state.gz
  packages/react-material-ui-kit/Layout/Navigation/index.tsx
  packages/react-nextjs/constants/ssr/ua-device-media-width.ts
  packages/react-nextjs/package.json
  packages/react-nextjs/page-modules/common/theme.tsx
  packages/react-nextjs/page-modules/core/ServerProps/applyMiddleware.ts
  packages/react-nextjs/page-modules/core/ServerProps/combineMiddlewares.ts
  packages/react-nextjs/page-modules/core/createHOC.tsx
  packages/react-nextjs/page-modules/presets/default.ts
  packages/react-nextjs/pages/_app.tsx
  packages/react-nextjs/pages/index.tsx
  packages/react-nextjs/pages/other.tsx
  packages/react-nextjs/services/ServerPropsContext/IServerPropsContext.ts
  packages/react-nextjs/services/ServerPropsContext/IServerPropsMiddleware.ts
  packages/react-nextjs/services/ServerPropsContext/index.ts
  packages/react-nextjs/styles/ITheme.ts
  packages/react-nextjs/styles/ThemeProvider.tsx
  packages/react-nextjs/styles/themes/default.ts
  packages/react-nextjs/styles/utils/createSsrMuiTheme.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: Fix TS errors
  packages/react-nextjs/page-modules/common/theme.tsx
  packages/react-nextjs/page-modules/core/ServerProps/applyMiddleware.ts
  packages/react-nextjs/page-modules/core/ServerProps/combineMiddlewares.ts
  packages/react-nextjs/page-modules/presets/default.ts
  packages/react-nextjs/services/ServerPropsContext/index.ts
  packages/react-nextjs/styles/utils/createSsrMuiTheme.ts
Due: prettier --write, eslint --cache --fix

chore(storybook): Remove unused tsconfig paths
  tsconfig.json
Due: prettier --write

chore: Add missed jest-circus runner
  .eslintcache
  .pnp.js
  .yarn/build-state.yml
  .yarn/cache/jest-circus-npm-26.6.3-b5c16d78c9-8ef70b1ccd.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

ci(github): Create workflow for PR
  .github/workflows/pull-request.yaml
Due: none

ci(github): Add --passWithNoTests for tests, rename jobs
  .github/workflows/pull-request.yaml
Due: none

feat(storybook): Extend layout stories, fix .*ignore files
  .dockerignore
  .eslintignore
  .gitignore
  .pnp.js
  .prettierignore
  packages/react-material-ui-kit/Layout/Navigation/index.tsx
  packages/react-material-ui-kit/Layout/styled.tsx
  packages/react-nextjs/pages/_app.tsx
  packages/react-nextjs/public/fix-root-size.css
  packages/storybook/preview.js
  packages/storybook/stories/ui-kit/Layout.stories.tsx
Due: prettier --write, eslint --cache --fix

feat: Add Text component, improve storybook
  packages/react-material-ui-kit/Layout/Header.tsx
  packages/react-material-ui-kit/Layout/Navigation/NavItem.tsx
  packages/react-material-ui-kit/Typography/Text.tsx
  packages/react-material-ui-kit/Typography/index.ts
  packages/react-nextjs/components/common/Layout/common/Header.tsx
  packages/react-nextjs/pages/404.tsx
  packages/react-nextjs/pages/_app.tsx
  packages/react-nextjs/pages/index.tsx
  packages/react-nextjs/pages/other.tsx
  packages/react-nextjs/styles/ThemeProvider.tsx
  packages/storybook/main.js
  packages/storybook/preview.js
  packages/storybook/stories/ui-kit/Layout.stories.tsx
  packages/storybook/stories/ui-kit/Layout/Header.stories.tsx
  packages/storybook/stories/ui-kit/Layout/Layout.stories.tsx
  packages/storybook/stories/ui-kit/Layout/Navigation.stories.tsx
  packages/storybook/stories/ui-kit/Typography.stories.tsx
Due: prettier --write, eslint --cache --fix

feat(uikit): Add some example logic to Navigation component
  .pnp.js
  .yarn/cache/@material-ui-types-npm-4.1.1-142f4d8f48-b5ee63a896.zip
  .yarn/cache/material-ui-popup-state-npm-1.7.1-1984bc0d83-6a4eef38da.zip
  .yarn/install-state.gz
  packages/react-material-ui-kit/Layout/Navigation/Item/Item.tsx
  packages/react-material-ui-kit/Layout/Navigation/Item/Nested/Collapse.tsx
  packages/react-material-ui-kit/Layout/Navigation/Item/Nested/Menu.tsx
  packages/react-material-ui-kit/Layout/Navigation/Item/Nested/index.tsx
  packages/react-material-ui-kit/Layout/Navigation/Item/Nested/styled.tsx
  packages/react-material-ui-kit/Layout/Navigation/Item/Nested/types.ts
  packages/react-material-ui-kit/Layout/Navigation/Item/NestedContext.tsx
  packages/react-material-ui-kit/Layout/Navigation/NavItem.tsx
  packages/react-material-ui-kit/Layout/Navigation/index.tsx
  packages/react-material-ui-kit/package.json
  packages/react-nextjs/components/common/Layout/common/NavLinkItem.tsx
  packages/react-nextjs/components/common/Layout/common/Navigation.tsx
  packages/react-shared/hooks/useControlledState.ts
  packages/storybook/stories/ui-kit/Layout/Layout.stories.tsx
  packages/storybook/stories/ui-kit/Layout/Navigation.stories.tsx
  packages/storybook/stories/ui-kit/Layout/NavigationStory.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix(uikit): Fix navigation position and height
  packages/react-material-ui-kit/Layout/Navigation/index.tsx
Due: prettier --write, eslint --cache --fix

fix(icons): Remove unused compilation strategies
  packages/icons/lib/writeToFS.ts
Due: prettier --write, eslint --cache --fix

fix(typescript): Set root "resolveJsonModule" option to true
  tsconfig.json
Due: prettier --write

feat(graphql): Create NestJS graphql gateway, fix project issues
  .dockerignore
  .eslintrc.js
  .gitignore
  Dockerfile
  lerna.json
  package.json
  packages/graphql/app.module.ts
  packages/graphql/application/dto/inputs/create-user.input.ts
  packages/graphql/application/resolvers/user.resolver.ts
  packages/graphql/constants/di-tokens.ts
  packages/graphql/domain/entities/User.ts
  packages/graphql/domain/services/user.service.ts
  packages/graphql/infrastructure/repository/User/IUserRepository.ts
  packages/graphql/infrastructure/repository/User/local.user.repository.ts
  packages/graphql/main.ts
  packages/graphql/nest-cli.json
  packages/graphql/package.json
  packages/graphql/schema.gql
  packages/graphql/tsconfig.build.json
  packages/graphql/tsconfig.json
  packages/icons/package.json
  packages/icons/src/Llama.tsx
  packages/icons/tsconfig.json
  packages/react-material-ui-kit/package.json
  packages/react-material-ui-kit/tsconfig.json
  packages/react-nextjs/next.config.js
  packages/react-nextjs/package.json
  packages/react-nextjs/page-modules/core/createHOC.tsx
  packages/react-nextjs/styles/ThemeProvider.tsx
  packages/react-shared/package.json
  packages/react-shared/tsconfig.json
  packages/storybook/main.js
  packages/storybook/package.json
  packages/storybook/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix

ci(actions): Rewrite PR action with one job to validate project
  .github/workflows/pull-request.yaml
Due: none

ci: Extend .gitignore, add cache step to PR action workflow
  .github/workflows/pull-request.yaml
  .gitignore
Due: none

ci(github): Fix cache action
  .github/workflows/pull-request.yaml
Due: none

ci(github): Create variable for yarn cache folder
  .github/workflows/pull-request.yaml
Due: none

chore: Sync files
  .yarn/install-state.gz
  packages/client-web/pages/_error.tsx
  packages/react-nextjs/pages/_error.tsx
Due: prettier --write, eslint --cache --fix

docs(README.md): Improve documentation structure, add short packages list and description
  .eslintrc.js
  README.md
  packages/client-web/next.config.js
Due: prettier --write

feat: Update yarn and root configs
  .dockerignore
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .pnp.cjs
  .pnp.js
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-2.4.0.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  Dockerfile
  babel.config.js
  tsconfig.json
Due: prettier --write

fix: Fix app ts and next.js settings
  apps/client-web/next.config.js
  apps/client-web/tsconfig.json
Due: prettier --write

feat(ui): Add storybook, create story for generated icons
  .yarn/install-state.gz
  libs/ui/.storybook/main.js
  libs/ui/.storybook/preview.js
  libs/ui/Button/Button.stories.tsx
  libs/ui/package.json
  libs/ui/postcss.config.js
  libs/ui/stories/Icons/IconPreviewButton.tsx
  libs/ui/stories/Icons/Icons.stories.mdx
  libs/ui/tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: Add input and typography, change default font to "Inter"
  .yarn/install-state.gz
  apps/client-web/pages/index.tsx
  libs/ui/core/button/regular-button.tsx
  libs/ui/core/dialog/dialog.tsx
  libs/ui/core/grid/grid.module.css
  libs/ui/core/grid/spaced.tsx
  libs/ui/core/input/html.tsx
  libs/ui/core/input/index.ts
  libs/ui/core/input/input-box.tsx
  libs/ui/core/input/input.tsx
  libs/ui/core/input/types.ts
  libs/ui/core/typography/index.ts
  libs/ui/core/typography/typography.stories.tsx
  libs/ui/core/typography/typography.tsx
  libs/ui/index.js
  libs/ui/index.ts
  libs/ui/package.json
  libs/ui/tailwind.config.js
  libs/ui/theme/index.ts
  libs/ui/theme/register.ts
  libs/ui/theme/styles/global.css
  libs/ui/theme/styles/variables.css
  libs/ui/types/common.ts
  libs/ui/types/elements.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

ci: Create shared Jest config, remove scripts from root package.json fix eslint runner
  .eslintignore
  .eslintrc.js
  Taskfile.yaml
  apps/client-web/tsconfig.node.json
  jest.config.js
  libs/config/jest/base.js
  libs/config/jest/index.js
  libs/config/jest/ts-paths.js
  libs/config/package.json
  libs/utils/core/function/debounce.test.ts
  libs/utils/core/function/debounce.ts
  package.json
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,js,graphql})
  eslint --cache --fix: any of: *.{ts,tsx}
