Repository secundant/ts-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix"
  ],
  "*.{json,js,graphql}": [
    "prettier --write"
  ]
}

chore: Upgrade dependencies
  .yarn/install-state.gz
  apps/client-web/package.json
  apps/todo-web/package.json
  libs/config/package.json
  libs/ui/package.json
  package.json
  yarn.lock
Due: prettier --write

ci: Update .gitignore
  .gitignore
Due: none

ci: Update github pull-request action
  .github/workflows/pull-request.yaml
  Taskfile.yaml
  package.json
Due: prettier --write

ci: Update missed dependencies
  libs/hooks/package.json
Due: prettier --write

feat(ui+root): Add commitlint, extend next config, rewrite icons import
  .dockerignore
  .gitattributes
  .prettierignore
  .yarn/install-state.gz
  apps/client-web/.babelrc
  apps/client-web/next.config.js
  commitlint.config.js
  libs/config/next/index.js
  libs/ui/.svgrrc.js
  libs/ui/core/svg-icon/create.tsx
  libs/ui/core/svg-icon/index.ts
  libs/ui/core/svg-icon/svg-icon.tsx
  libs/ui/icons/Add.tsx
  libs/ui/icons/ArrowDropDown.tsx
  libs/ui/icons/ArrowDropUp.tsx
  libs/ui/icons/CalendarToday.tsx
  libs/ui/icons/Done.tsx
  libs/ui/icons/Error.tsx
  libs/ui/icons/Help.tsx
  libs/ui/icons/Info.tsx
  libs/ui/icons/KeyboardArrowDown.tsx
  libs/ui/icons/KeyboardArrowLeft.tsx
  libs/ui/icons/KeyboardArrowRight.tsx
  libs/ui/icons/Notifications.tsx
  libs/ui/icons/Visibility.tsx
  libs/ui/icons/VisibilityOff.tsx
  libs/ui/icons/Warn.tsx
  libs/ui/package.json
  libs/utils/core/array/difference.test.ts
  libs/utils/core/array/difference.ts
  libs/utils/core/array/exclude.ts
  libs/utils/core/function/core.ts
  libs/utils/core/function/debounce.ts
  libs/utils/core/index.ts
  libs/utils/core/isEmpty.ts
  libs/utils/core/object/create.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat(mixed): update readme, add rest props and sync core components, add commit-msg hook
  .husky/commit-msg
  README.md
  Taskfile.yaml
  libs/ui/core/card/paper.tsx
  libs/ui/core/icon-button/icon-button.tsx
  libs/ui/core/input/input-box.tsx
  libs/ui/core/popover/popover.tsx
  libs/ui/core/popover/usePopover.ts
  libs/ui/hooks/core/index.ts
  libs/ui/hooks/core/use-id.ts
  libs/ui/lib/theme.ts
  libs/ui/theme/styles/global.css
  libs/ui/types/global.overrides.d.ts
  libs/utils/core/core.ts
  libs/utils/core/index.ts
  libs/utils/core/is-empty.ts
Due: prettier --write, eslint --cache --fix

fix(ui): remove old utility from button
  libs/ui/core/button/button.tsx
Due: prettier --write, eslint --cache --fix

feat(ui): add useDomNavigation hook
  libs/ui/hooks/navigation/use-dom-navigation.ts
  libs/ui/lib/dom/shared.ts
Due: prettier --write, eslint --cache --fix
